# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
dist/
build/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.unityproj
*.pidb
*.user
*.booproj
*.svd
*.pdb
*.ldb
*.opendb
*.apk
*.aab

# Docker
*.env
.env.local
.env.production
.env.development

# Misc
*.iml
*.swp
*.orig
